<header>
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
    </div>
  </nav>


</header>

<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-md-9 blog-main">
      <div class="jumbotron p-3 p-md-5 rounded">
        <div class="px-0">
          <h1 class="display-4"> Дієвий метод боротьби з вірусом </h1>
        </div>
        <div class="px-0">
          <p class="lead my-3">
            Стаття для тих, хто хоче дійсно допомогти подолати коронавірус.
          </p>
          <p class="blog-post-meta">19 березня, 2020</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>

<div class="container border-bottom mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 blog-main">
      
      <div class="blog-post">
  
        <p>
          Я нещодавно натрапив на цікаву статтю, яку опублікував сайт
          <a target="_blank" href="https://www.washingtonpost.com/">
            The Washington Post</a>, стосовно спалаху
          <a target="_blank" href="https://www.washingtonpost.com/graphics/2020/world/corona-simulator/?fbclid=IwAR2SzqjLfxTAFbNGEg3eRQkLsa_KnCssmEFaoMeoFvUDTGY4-goMSpmCKbY">
            covid-19</a>, і вирішив зробити переклад українською.
        </p>
        
        <p>
          В ній наочно продемонстровано яким чином може поширюватись вірус і якими методами ми можемо впливати на це.
        </p>
  
        <p>
          Ми живемо в час технологій та науки, то чому б не застосовувати ці знання для прогнозування майбутнього?
        </p>
  
        <p>
          Це мені дуже нагадує сюжет серіалу <a target="_blank" href="https://uakino.club/seriesss/criminal_series/8435-chisla-4isla.html">"Числа"</a>,
          але і в реальному житті математика працює не гірше.
        </p>
  
        <p>
          То ж не пошкодуйте 5 хвилин свого часу і ознайомтесть з матеріалами нижче, щоб краще розуміти реалії нашої ситуаці.
        </p>
        
     </div><!-- /.blog-post -->
     
    <div class="d-flex justify-content-center mb-5">
      <a class="go-down" href="javascript:0;" onclick="scrollToTarget('#pg-content')" role="button"></a>
    </div>
    
    </div><!-- /.blog-main -->
    
  
  </div>
</div>
